.login {
  background: #EEF1FF;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .MuiCard-root {
    margin: auto;
  }

  .MuiTextField-root {
    margin-bottom: 15px;
    font-size: 10px;
  }

  .MuiCardContent-root {
    padding-top: 25px;
    text-align: center;
  }
}